<ion-content>
  <swiper-container>
    <swiper-slide class="bg-color-slide">
      <h1 class="titulo1">Hola Slide 1</h1>
      <img src="/assets/img/candy.jpg">
      <p>Hola soy el slide uno de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola Slide 2</h1>
      <p>Hola soy el slide 
        dos de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>"
      <h1>Hola Slide 3</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>"
      <p>Hola soy el slide tres de la libreria swiper</p>
      <ion-button (click)="finish()">al home</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
