<ion-content>
  <swiper-container>
    <swiper-slide class="bg-color-slide">
      <h1 class="titulo1">Hola Slide 1</h1>
      <img src="/assets/img/candy.jpg">
      <p>Hola soy el slide uno de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola Slide 2</h1>
      <p>Hola soy el slide 
        dos de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola Slide 3</h1>
      <p>Hola soy el slide tres de la libreria swiper</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
//implementemos 4 o mas slides sobre lo que queramos 
